<% if @book.present? %>
  <%= render 'books/list_book', book: @book %>
<% end %>
<div class="row">
  <div class="col-xs-12">
    <h3><%= @text %></h3>
  </div>
  <div class="col-xs-12">
    <% @users.each do |user| %>
      <%= render 'users/user_chip', user: user %>
    <% end %>
    <%= paginate @users %>
  </div>
</div>
