
<% if books.present? %>
  <div class="row">
    <div class="col-xs-12">
      <h3>検索結果</h3>
    </div>
  </div>
  <% books.each do |book| %>
    <%= render 'list_book', book: book %>
  <% end %>
  <div class="row">
    <div class="col-xs-12">
      <%= paginate @books %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-xs-12">
      <h3>検索結果は０件です。</h3>
      <p>申し訳ありません、入力に間違いがないか確認してください。</p>
      <p>「 」(半角スペース)でのor検索やあいまい検索にはまだ対応できていません。</p>
      <p>通常検索では「書籍タイトル」または「著者名」で検索しています。</p>
      <p>詳細検索では「書籍タイトル」、「著者名」、「ISBN13」を組み合わせた検索が可能です。</p>
    </div>
  </div>
<% end %>
