<div class="search">
  <div class="row">
    <div class="visible-xs col-xs-12">
      <div class="text-center">
        <%= form_tag(new_book_path, method: :get, class: 'form-inline') do %>
          <div class="form-group">
            <%= text_field_tag :keyword, @keyword, class: 'form-control input-lg', placeholder: "キーワードを入力", size: 40 %>
          </div>
          <%= submit_tag '書籍を検索', class: 'btn btn-success btn-lg' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if @microposts.present? %>
<%= render 'reviews/microposts', microposts: @microposts %>
<% else %>
<p>
  *　おおっと　*<br>
  タイムラインに何も表示されていません。<br>
  あなたのタイムラインには「あなたがフォローしたユーザー」「あなた自身」のレビューが表示されます。<br>
  全体タイムラインや本のレビューから気に入ったユーザーをフォローしましょう！
</p>
<% end %>