<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
    	<div class="panel-body">
        <h3>HumiHumiとは</h3>
          <p>HumiHumiはウェブ上で本のレビューを行えるサービスです。<br>　</p>
          <p></p>
          <p>HumiHumiではあなたの読書人生に特に影響を与えてくれた三冊の本を選び、
          <span class="lead">「私の三冊」</span>として登録していただくことをおすすめしています。</p>
          <p>きっとあなたの選んだ「私の三冊」はあなた自身の読書感・好きな作家・ジャンル等々を表してくれることでしょう。</p>
          <p>他のユーザーの「私の三冊」からあなたと同じ感性を持つ方もきっと見つかります、
          その方達のレビューはあなたにとって有益なものとなるのではないでしょうか。<br>　</p>
          <p>次に読む本を探したいけど、みんなが読んでる流行りの本を読みたいわけじゃない。<br>
          <p>少し古かったり、有名じゃなくても私が面白いと思う本が読みたい、私と同じ感性の人はどんな本を読んでいるのかが知りたい。</p>
          <p>HumiHumiはこんな気持ちから生まれました。<br>　</p>
          <p>サービスはおって充実させていきます。</p>
          <p>拙いサービスですがあなたの読書人生がより潤うことを心から願っています。</p>
      </div>
    </div>
  </div>
</div>