@charset "utf-8";

.btn {
  white-space: normal;
}
.panel{
  margin-bottom: 5px;
}

.panel-body-pa5{
  padding: 5px;
}
.btn-sm{
  font-size: 10px;
  padding: 5px 0px;
}
.size-8{
  font-size:8px;
}
.size-18{
  font-size: 18px
}
/* body */
body {
  background: #f2f2f2;
}
footer {
  margin-top: 40px;
}

/* navbar */
.navbar {
  background-color: #b0ffc0;
}
.nav-img {
  margin-top: 0px;
  height: 40px;
}

text.nav-logo{
  font-size: 28px;
}
/* search */
.search {
  margin-bottom: 20px;
}

/* book */
.books-item{
  min-height:80px;
}
.new-books .panel-book{
  margin-bottom: 5px;
}
.panel-book .panel-book-body{
  padding: 0px 15px;
}
.books-image-box{
  background-color: #ddd;
}
.books-image{
  padding:5px 0px;
  max-width: 100%;
  max-height: 150px;
}
p.books-title {
  /* 文の行数を3行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  padding-top:10px;
  min-height: 54px;
}
p.books-authors {
  /* 文の行数を1行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.book-count .label{
  padding: .1em .3em .1em;
}
/*book show 画面*/


.book-show-body{
  padding-top: 20px;
  padding-bottom: 20px;
}
.book-common-image img{
  max-height: 300px;
}
.book-show-title-md{
  min-height:100px;
}
.m-tb5{
  margin-top:5px;
  margin-bottom:5px;
}

.review-form-body{
  background-color: #ffffff;
  border: 1px solid #555;
  padding-top: 20px;
  padding-bottom: 20px;
}

.review-form{
  margin-top: 10px;
  margin-bottom: 10px;
}
.review-coution{
  color: #eee;
}
/* users */
.panel-user{
  
}
.panel-user .panel-user-body{
  padding: 15px 15px 0px 15px;
}
p.favo-book {
  /* 文の行数を1行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;  margin-bottom: 0px;
}
.panel-favo-heading{
  padding: 0 10px;
}
p.review-10-str {
  font-size:26px;
  margin: 0;
}
.review-text p{
  font-size:12px;
}