@charset "utf-8";

.btn {
white-space: normal;
}

/* body */
body {
  background: #f2f2f2;
}
footer {
  margin-top: 40px;
}

/* navbar */
.navbar {
  background-color: #b0ffc0;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}

/* search */
.search {
  margin-bottom: 20px;
}

/* book */
.books-item{
  background-color: #faffff;
  border: 1px solid #ddd;
  min-height:80px;
  margin-bottom:5px;
}
.books-image-box{
  background-color: #555;
}
.books-image{
  max-width: 100%;
  max-height: 150px;
}
p.books-title {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  padding-top:10px;
  min-height: 80px;
}
p.books-authors {

}

/*book show 画面*/


.book-show-body{
  padding-top: 20px;
  padding-bottom: 20px;
}
.book-common-image img{
  max-height: 300px;
}
.book-show-title-md{
  min-height:100px;
}
.m-tb5{
  margin-top:5px;
  margin-bottom:5px;
}

.review-form-body{
  background-color: #ffffff;
  border: 1px solid #555;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* users */
